.container {
  /* min-height: calc(100vh - 50px); */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/images/telephone-gadf67dbc7_1280.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgb(163, 170, 228);
}

.title {
  display: block;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  background-color: rgba(113, 90, 68, 0.2);
  color: rgba(12, 12, 12, 0.5);
  border-radius: 5px;
}

.color {
  color: rgb(10, 212, 247);
}

.button {
  margin-top: 5px;
  margin-bottom: 5px;
}
